<link rel="preload" as="font" href="{{ "css/bosch_icon.woff2" | absURL }}" type="font/woff2" crossorigin>
<link rel="preload" as="font" href="{{ "css/boschsans_regular.woff2" | absURL }}" type="font/woff2" crossorigin>
<link rel="preload" as="font" href="{{ "css/boschsans_bold.woff2" | absURL }}" type="font/woff2" crossorigin>
<link rel="preload" as="font" href="{{ "css/bosch_ui_icon.woff" | absURL }}" type="font/woff" crossorigin>
<link rel="preload" as="font" href="{{ "css/boschsans_bold.woff2" | absURL }}" type="font/woff2" crossorigin>