<!doctype html>
<html lang="{{ .Site.Params.languageTag | default "en-US" }}">
  {{ partial "head/head.html" . }}
  {{ if eq .Kind "home" -}}
    {{ .Scratch.Set "class" "home" -}}
  {{ else if eq .Kind "404" -}}
    {{ .Scratch.Set "class" "error404" -}}
  {{ else if eq .Kind "page" -}}
    {{ .Scratch.Set "class" .Type -}}
    {{ .Scratch.Add "class" " single" -}}
  {{ else -}}
    {{ .Scratch.Set "class" .Type -}}
    {{ .Scratch.Add "class" " list" -}}
  {{ end -}}
  <body class="{{ .Scratch.Get "class" }}"{{ if eq .Site.Params.options.scrollSpy true }} data-bs-spy="scroll" data-bs-target="#toc" data-bs-root-margin="0px 0px -90%" data-bs-smooth-scroll="true" tabindex="0"{{ end }}>
    {{ partial "header/header.html" . }}
    <div class="e-container">
    {{ if or (eq .Kind "page") (eq .Kind "section") -}}
    {{ $currentSection := .CurrentSection }}    
      <article>
        <h1>{{ .Title }}</h1>
      </article>
      {{ with .Resources.GetMatch "image" }}
      <figure class="a-image">
        <div class="a-image__ratioWrapper" style="padding-top: 21%">
          <img src="{{ .RelPermalink }}" />
        </div>
      </figure>
      {{ end }}
      {{ with .Description }}
      <p>{{ . }}</p>
      {{end}}
    {{ else -}}
    {{ with .Resources.GetMatch "image" }}
      <figure class="a-image">
        <div class="a-image__ratioWrapper">
          <img src="{{ .RelPermalink }}" />
        </div>
      </figure>
      {{ end }}
    {{ end -}}
    </div>

    <div class="e-container">
      {{ block "main" . }}{{ end }}
    </div>
    {{ block "sidebar-prefooter" . }}{{ end }}
    {{ block "sidebar-footer" . }}{{ end }}
    {{ partial "footer/footer.html" . }}
    {{ partial "footer/script-footer.html" . }}
  </body>
</html>