.tile-wrapper {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: none;
}

@media(min-width: 40em) {
  .\32 -col {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .\33 -col {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width: 80em) {
  .\32 -col {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .\33 -col {
    grid-template-columns: repeat(3, 1fr);
  }
}

.tile-item {}

.o-footer-space {
  margin-top: 2rem;
}