<footer class="o-footer">
  <div class="o-footer__search-container -secondary">
    <div class="e-container">
    </div>
  </div>
  <div class="e-container">
    <div class="o-footer__top">
      <div class="o-footer__claim">Invented for life</div>
      <ul class="o-footer__links">
        {{ range .Site.Menus.footer -}}
        <li>
          <div class="a-link a-link--integrated">
            <a href="{{ .URL | relURL }}" target="_self"><span>{{ .Name }}</span></a>
          </div>
        </li>
        {{ end }}
      </ul>
      <div class="o-footer__share">
        <button
          type="button"
          class="a-button a-button--integrated -without-label"
          aria-label="share button"
        >
          <i
            class="a-icon a-button__icon boschicon-bosch-ic-facebook"
            title="Lorem Ipsum"
          ></i>
        </button>
        <button
          type="button"
          class="a-button a-button--integrated -without-label"
          aria-label="share button"
        >
          <i
            class="a-icon a-button__icon boschicon-bosch-ic-youtube"
            title="Lorem Ipsum"
          ></i>
        </button>
        <button
          type="button"
          class="a-button a-button--integrated -without-label"
          aria-label="share button"
        >
          <i
            class="a-icon a-button__icon boschicon-bosch-ic-linkedin"
            title="Lorem Ipsum"
          ></i>
        </button>
        <button
          type="button"
          class="a-button a-button--integrated -without-label"
          aria-label="share button"
        >
          <i
            class="a-icon a-button__icon boschicon-bosch-ic-twitter"
            title="Lorem Ipsum"
          ></i>
        </button>
      </div>
    </div>
    <hr class="a-divider" />
    <div class="o-footer__bottom">
      <div class="o-footer__copyright">
        &copy; Bosch.IO Gmbh 2023, all rights reserved
      </div>
    </div>
  </div>
</footer>