<div class="a-tile -secondary">
  {{ with .Get "picture" }}
  <figure class="a-image">
      <div class="a-image__ratioWrapper">
        <img
          src="{{ . }}"
          alt="Lorem ipsum dolor sit amet"
        />
      </div>
    </figure>
    {{ end }}
    <div class="a-text" style="padding:2rem">
      {{ with .Get "category" }}
      <span class="-size-s" style="display:block;margin-bottom:0.5rem">
        {{ . }}
      </span>
      {{ end }}
      {{ with .Get "name" }}
      <h3 class="-size-xl" style="margin-bottom:0.5rem;margin-top:0">
        {{ . }}
      </h3>
      {{ end }}
      <p class="-size-m" style="margin:0">{{ .Inner }}</p>
    </div>
</div>